{% extends "layout.html" %}

{% block content %}
    <h1>Index</h1>
    <p>Total Kanji Available: {{kanjinumber}}</p>
    <form action="" method="post" name="grades">
    <dl>
    <dt>Grades available</dt>
        {% for result in myresult %}
            <dd>
                <input type="checkbox" id="grade{{result[0]}}" name="grades" Value="{{result[0]}}">
                <label for="grade{{result[0]}}">Grade {{result[0]}}</label>
            </dd>
        {% endfor %}
    </dl>
    <input type="submit" value="save">
    </form>
{% endblock %}