{% extends "layout.html" %}

{% block content %}
    <h1>Pactice</h1>
    <button onclick="nextKanji({{mykanji}})">Next</button>
    <div id="tablet" onmousedown="drawStroke(event)" onmouseup="clearCoor()">
    <svg height="200" width="200" id="draw">
        <polyline id="polypoint" points="" style="fill:none;stroke:#000;stroke-width:6" />
    </svg>
    </div>
    <table>
        <tr>
            <th>Kanji</th>
            <th>Translate</th>
            <th>Pronuciation</th>
            <th>Written</th>
            <th>Grade</th>
        </tr>
        <tr id="kanji_row"></tr>
        {% for kanji in mykanji %}
        <tr>
            <td>{{kanji[1]}}</td>
            <td>{{kanji[3]}}</td>
            <td>{{kanji[4]}}</td>
            <td>{{kanji[5]}}</td>
            <td>{{kanji[6]}}</td>
        </tr>
        {% endfor %}
    </table>
    <script src="{{ url_for('static', filename='js/practice.js') }}"></script>
{% endblock %}