{% extends "layout.html" %}

<div>
{% block content %}
    <h1>Kanji Quiz</h1>
    <div id="quiz">
    <div id="quiz_draw">
        {% include 'includes/drawing.html' %}
    </div>
    <div id="question">
        <h1>{{ quiz_kanji[3] }}</h1>
    </div>
    <div id="answer">
        <p></p>
    </div>
    </div>
    <script src="{{ url_for('static', filename='js/practice.js') }}"></script>
    <script type="text/javascript">
        showKanji("{{ quiz_kanji[1] }}");
    </script>
{% endblock %}
</div>