body {
    background:#dddddd;
    padding: 0;
    margin: 0;
}

button {
    width: 100%;
    font-size: 1.5em;
    text-align: left;
}

table {
    font-size: 2em;
}

.nav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000099;
}

.nav_li {
    float: left;
}

.nav_li a {
    display: block;
    color: gold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav_li a:hover:not(.active) {
    background-color: #888888;
}

.active {
    background-color: #000066;
}

.grid-container {
    display: grid;
    grid-template-columns: .5fr 3fr 3fr;
    grid-gap: 20px;
}

.grid-item {
    background-color: #aaaaaa;
    padding: 15px;
}

.kanji_info {
    grid-column: 1 / 3;
    grid-row: 2;
    background-color: #aaaaaa;
    height: 5.4em;
}

.practice_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.liButton {
    display: block;
}

#display {
    display: inline;
    font-size: 7em;
    padding-left: 30px;
}

#draw {
    border: 2px solid black;
    margin-left: 30px;
}

#tablet {
    display: inline;
}

#quiz {
    display: grid;
    width: 40%;
}

#quiz_draw {
    grid-column:1 / 2;
    grid-row: 1 / 3;
}

#question {
    grid-column: 3;
    grid-row: 1;
}

#answer {
    grid-column: 3;
    grid-row: 2;
    align-items: flex-start;
    padding: 0;
}

#answer p {
    font-size: 4em;
    padding: 0;
    margin: 0;
}

dl {
    font-size: 1.4em;
    background-color: #aaaaaa;
    width: 40%;
}

input[type=checkbox] + label {
    color: darkred;
}

input[type=checkbox]:checked + label {
    color: darkblue;
}